@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Julius+Sans+One|Oswald");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

*,
::before,
::after {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.heading {
  font-family: "Crimson Text", Georgia;
  text-align: center;
  font-size: 50px;
  background-color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0;
  padding-top: 20px;
  z-index: 3;
}

.search-bar-container {
  z-index: 2; 
  background-color: white;
  position: fixed;
  width: 100%;
  padding-top: 10px;
  height: 60px;
  top: 94px;
  box-shadow: 0px 0px 7px grey;
}

.search-bar {
  max-width: 400px;
  width: calc(100% - 20px);
  height: fit-content;
  margin: auto;
  position: relative;
}

.search-icon {
  position: absolute;
  font-size: 17px;
  top: 11px;
  left: 12px;
}

.search-input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  height: 40px;
  border-width: 2px;
  border-radius: 40px;
  padding-left: 40px;
  font-family: "Crimson Text", Georgia;
  font-size: 20px;
}
.card-container{
  margin-top: 200px;
  text-align: center;
}

.selectedCardCanvas{
  z-index: 1;
  position: fixed;
  width: 100%;
  height: calc(100vh - 150px);
  top: 150px;
  background-color: rgba(0, 0, 0, 0.249);
}

.selectedCard{
  position: absolute;
  background-color: beige;
  width: 90%;
  max-width: 950px;
  max-height: 600px;
  height: 80%;
  margin: auto;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
}

.card-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  row-gap: 30px;
}

.loading-div {
  font-family: "Crimson Text", Georgia;
  font-size: 30px;
  width: fit-content;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 620px) {
  .heading {
    padding-top: 10px;
    height: 70px;
    font-size: 40px;
    z-index: 3;
    box-shadow: 0px 0px 7px grey;
  }
  .search-bar-container {
    top: unset;
    bottom: 0px;
  }
  .card-container{
    margin-top: 90px;
    text-align: center;
  }
  .card-gallery {
    padding: 10px;
    row-gap: 10px;
  }
}
